<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/imagenesIguales.css">
    <title>Document</title>
</head>

<body>
    <nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Fotos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <% if (locals.user) { %>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Imagenes
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/imagenes">Ver Imagenes</a></li>
                                <li><a class="dropdown-item" href="/createImagen">Agregar Imagenes</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Album
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/album">Ver Album</a></li>
                                <li><a class="dropdown-item" href="/createAlbum">Agregar Album</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/usuario/logout">Cerrar sesión</a>
                        </li>
                        <% } else { %>

                            <li class="nav-item">
                                <a class="nav-link" href="/login">Iniciar sesión</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/register">Registro</a>
                            </li>
                            <% } %>
                </ul>
                <% if (locals.user) { %>

                    <form class="d-flex" role="search" method="GET" action="/search">
                        <input name="q" class="form-control me-2" type="search" placeholder="Search"
                            aria-label="Search" />
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                    <% } %>
            </div>
        </div>
    </nav>